<div class="container-fluid">
    <div class="row">
       <div class="col-sm-12">
          <div class="iq-card">
             <div class="iq-card-header d-flex justify-content-between">
                <div class="iq-header-title">
                   <h4 class="card-title">Developer List</h4>
                </div>
                <div class="iq-card-header-toolbar d-flex align-items-center">
                   <a routerLink="/DeveloperCreate" class="btn btn-primary">Add Developer</a>
                </div>
             </div>
             <div class="iq-card-body">
                <div class="table-view">
 
                   <div class="iq-search-bar ml-auto mb-4">
                      <div class="searchbox">
                         <input type="text" class="text search-input" placeholder="Search Developer..." name="FirstName"
                            [(ngModel)]="FirstName" (ngModelChange)="Search()">
                         <span class="search-link" href="#"><i class="ri-search-line"></i></span>
                      </div>
                   </div>
 
                    <!--Delete Alert-->
                   <div *ngIf="isDeleted" class="alert alert-primary alert-dismissible fade show" role="alert">
                      <strong>Success!&nbsp;</strong>Developer deleted successfully.
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                         <span aria-hidden="true">&times;</span>
                      </button>
                   </div>
 
                   <table class="table movie_table" style="width:100%">
                      <thead>
                         <tr>
                            <th (click)="sort('FirstName')">First Name&nbsp;<i class="btn-sm btn-outline-primary fa fa-sort"></i>
                            </th>
                            <th (click)="sort('LastName')">Last Name&nbsp;<i
                                  class="btn-sm btn-outline-primary fa fa-sort"></i></th>
                            <th>IsInstaGamesDev</th>
                            <th>Action</th>
                         </tr>
                      </thead>
                      <tbody *ngIf="developers && developers.length ; else noData;">
                         <tr *ngFor="let dev of developers | orderBy:key:reverse | paginate:{itemsPerPage:10,currentPage:p}">
                            <td>{{dev.FirstName}}</td>
                            <td>
                              {{dev.LastName}}
                            </td>
                            <td>{{dev.IsInstaGamesDev}}</td>
                            <td>
                               <div class="flex align-items-center list-user-action">
                                  <a (click)='ViewDevs(dev)' class="iq-bg-warning crudBtn" title="Info"><i
                                        class="lar la-eye"></i></a>
                                  <a class="iq-bg-success crudBtn" title="Edit Game"><i class="ri-pencil-line"></i></a>
                                  <a (click)='DeleteDev(dev)' class="iq-bg-primary crudBtn" title="Delete Game"><i
                                        class="ri-delete-bin-line"></i></a>
                               </div>
                            </td>
                         </tr>
                      </tbody>
                   </table>
 
                   <div class="pull-right mt-5">
                      <pagination-controls (pageChange)="p = $event"></pagination-controls>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
 
 <!--IF no Data-->
 <ng-template #noData>
    <tbody>
       <tr>
          <td colspan="8">
             No data availabe in this table
          </td>
       </tr>
    </tbody>
 </ng-template>
 
