<div class="container-fluid">
   <div class="row">
      <div class="col-lg-8">
         <div class="row">
            <div class="col-sm-6 col-lg-6 col-xl-3">
               <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                  <div class="iq-card-body">
                     <div class="d-flex align-items-center justify-content-between">
                        <div class="iq-cart-text text-capitalize">
                           <p class="mb-0">
                              view
                           </p>
                        </div>
                        <div class="icon iq-icon-box-top rounded-circle bg-primary">
                           <i class="las la-eye"></i>
                        </div>
                     </div>
                     <div class="d-flex align-items-center justify-content-between mt-3">
                        <h4 class=" mb-0">+24K</h4>
                        <p class="mb-0 text-primary"><span><i class="fa fa-caret-down mr-2"></i></span>35%</p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-sm-6 col-lg-6 col-xl-3">
               <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                  <div class="iq-card-body">
                     <div class="d-flex align-items-center justify-content-between">
                        <div class="iq-cart-text text-capitalize">
                           <p class="mb-0 font-size-14">
                              Rated This App
                           </p>
                        </div>
                        <div class="icon iq-icon-box-top rounded-circle bg-warning">
                           <i class="lar la-star"></i>
                        </div>
                     </div>
                     <div class="d-flex align-items-center justify-content-between mt-3">
                        <h4 class=" mb-0">+55K</h4>
                        <p class="mb-0 text-warning"><span><i class="fa fa-caret-up mr-2"></i></span>50%</p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-sm-6 col-lg-6 col-xl-3">
               <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                  <div class="iq-card-body">
                     <div class="d-flex align-items-center justify-content-between">
                        <div class="iq-cart-text text-capitalize">
                           <p class="mb-0 font-size-14">
                              Downloaded
                           </p>
                        </div>
                        <div class="icon iq-icon-box-top rounded-circle bg-info">
                           <i class="las la-download"></i>
                        </div>
                     </div>
                     <div class="d-flex align-items-center justify-content-between mt-3">
                        <h4 class=" mb-0">+1M</h4>
                        <p class="mb-0 text-info"><span><i class="fa fa-caret-up mr-2"></i></span>80%</p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-sm-6 col-lg-6 col-xl-3">
               <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                  <div class="iq-card-body">
                     <div class="d-flex align-items-center justify-content-between">
                        <div class="iq-cart-text text-uppercase">
                           <p class="mb-0 font-size-14">
                              Visitors
                           </p>
                        </div>
                        <div class="icon iq-icon-box-top rounded-circle bg-success">
                           <i class="lar la-user"></i>
                        </div>
                     </div>
                     <div class="d-flex align-items-center justify-content-between mt-3">
                        <h4 class=" mb-0">+2M</h4>
                        <p class="mb-0 text-success"><span><i class="fa fa-caret-up mr-2"></i></span>80%</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="iq-card">
            <div class="iq-card-header d-flex justify-content-between align-items-center">
               <div class="iq-header-title">
                  <h4 class="card-title">Top Rated Games </h4>
               </div>
               <div id="topRated-item-slick-arrow" class="slick-aerrow-block"></div>
            </div>
            <div class="iq-card-body">
               <ul ngClass="topRated" class="list-unstyled row mb-0">
                  <li *ngFor="let game of TopRatedGames | orderBy" class="col-sm-6 col-lg-4 col-xl-3 iq-rated-box">
                     <div class="iq-card mb-0">
                        <div class="iq-card-body p-0">
                           <div class="iq-thumb">
                              <a routerLink='/GameDetails/{{game.GameId}}'>
                                 <img src="https://localhost:44369/{{game.GamePhoto}}"
                                    class="img-fluid w-100 img-border-radius" alt="">
                              </a>
                           </div>
                           <div class="iq-feature-list">
                              <h6 class="font-weight-600 mb-0">{{game.GameTitle}}</h6>
                              <p class="mb-0 mt-2"><i class="fa fa-star text-primary"></i> {{game.TotalRating}}</p>
                              <div class="d-flex align-items-center my-2">
                                 <p class="mb-0 mr-2"><i class="lar la-heart mr-1"></i>{{game.Subscribers.length}}</p>
                                 <p class="mb-0 "><i class="las la-user ml-2"></i>{{game.UserGameRatings.length}}</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </li>

               </ul>
            </div>
         </div>
      </div>
      <div class="col-lg-4">
         <div class="iq-card iq-card iq-card-block iq-card-stretch iq-card-height">
            <div class="iq-card-header">
               <div class="iq-header-title">
                  <h4 class="card-title text-center">User's Of Product</h4>
               </div>
            </div>
            <div class="iq-card-body pb-0">
               <div id="view-chart-01">

               </div>
               <div class="row mt-1">
                  <div class="col-sm-6 col-md-3 col-lg-6 iq-user-list">
                     <div class="iq-card">
                        <div class="iq-card-body">
                           <div class="media align-items-center">
                              <div class="iq-user-box bg-primary"></div>
                              <div class="media-body text-white">
                                 <p class="mb-0 font-size-14 line-height">New <br>
                                    Customer
                                 </p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-6 col-md-3 col-lg-6 iq-user-list">
                     <div class="iq-card">
                        <div class="iq-card-body">
                           <div class="media align-items-center">
                              <div class="iq-user-box bg-warning"></div>
                              <div class="media-body text-white">
                                 <p class="mb-0 font-size-14 line-height">Exsisting <br>
                                    Subscriber's
                                 </p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-6 col-md-3 col-lg-6 iq-user-list">
                     <div class="iq-card">
                        <div class="iq-card-body">
                           <div class="media align-items-center">
                              <div class="iq-user-box bg-info"></div>
                              <div class="media-body text-white">
                                 <p class="mb-0 font-size-14 line-height">Daily<br>
                                    Visitor's
                                 </p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-6 col-md-3 col-lg-6 iq-user-list">
                     <div class="iq-card">
                        <div class="iq-card-body">
                           <div class="media align-items-center">
                              <div class="iq-user-box bg-danger"></div>
                              <div class="media-body text-white">
                                 <p class="mb-0 font-size-14 line-height">Extented <br>
                                    Subscriber's
                                 </p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-12  col-lg-4">
         <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
            <div class="iq-card-header d-flex align-items-center justify-content-between">
               <div class="iq-header-title">
                  <h4 class="card-title">Categories</h4>
               </div>
            </div>
            <div class="iq-card-body p-0">
               <div id="view-chart-03"></div>
            </div>
         </div>
      </div>
      <div class="col-lg-8">
         <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
            <div class="iq-card-header d-flex align-items-center justify-content-between">
               <div class="iq-header-title">
                  <h4 class="card-title">Top Category</h4>
               </div>
               <div class="iq-card-header-toolbar d-flex align-items-center seasons">
               </div>
            </div>
            <div class="iq-card-body row align-items-center">
               <div class="col-lg-7">
                  <div class="row list-unstyled mb-0 pb-0">

                     <div *ngFor="let cat of Categories" class="col-sm-6 col-md-4 col-lg-6 mb-3">
                        <div class="iq-progress-bar progress-bar-vertical iq-bg-primary">
                           <span class="bg-primary" data-percent="100"
                              [style.height.%]="[findCategoryPercentage(cat.Games.length ,Games.length)]"
                              style="transition: height 2s ease 0s; width: 100%;"></span>
                        </div>
                        <div class="media align-items-center">
                           <div [ngClass]="{'iq-bg-success':cat.Type==='Fun','iq-bg-info':cat.Type==='Arcade',
                           'iq-bg-warning':cat.Type==='Fantasy','iq-bg-danger':cat.Type==='Classic','iq-bg-secondary':cat.Type==='Math',
                           'iq-bg-pink':cat.Type==='Text Adventure','iq-bg-dark':cat.Type==='Horror'}"
                              class="iq-icon-box-view rounded mr-3 iq-bg-primary">

                              <i class="las la-smile font-size-32" *ngIf="cat.Type === 'Fun'"></i>
                              <i class="las la-gamepad font-size-32" *ngIf="cat.Type === 'Arcade'"></i>
                              <i class="las la-book-dead font-size-32" *ngIf="cat.Type === 'Fantasy'"></i>
                              <i class="las la-school font-size-32" *ngIf="cat.Type === 'Math'"></i>
                              <i class="las la-fighter-jet font-size-32" *ngIf="cat.Type === 'Action'"></i>
                              <i class="las la-book font-size-32" *ngIf="cat.Type === 'Text Adventure'"></i>
                              <i class="las la-skull-crossbones font-size-32" *ngIf="cat.Type === 'Horror'"></i>
                              <i class="las la-chess font-size-32" *ngIf="cat.Type === 'Classic'"></i>

                              <!-- here add new categories icons -->

                           </div>
                           <div class="media-body text-white">
                              <h6 class="mb-0 font-size-14 line-height">{{cat.Type}}</h6>
                              <small class="text-primary mb-0">{{findCategoryPercentage(cat.Games.length
                                 ,Games.length)}}%</small>
                           </div>
                        </div>
                     </div>

                  </div>
               </div>
               <div class="col-lg-5">
                  <div id="view-chart-02" class="view-cahrt-02"></div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-sm-12">
         <div class="iq-card">
            <div class="iq-card-header d-flex justify-content-between">
               <div class="iq-header-title">
                  <h4 class="card-title">Most Popular Games</h4>
               </div>
            </div>
            <div class="iq-card-body">
               <div class="table-responsive">

                  <div class="iq-search-bar ml-auto mb-4">
                     <div class="searchbox">
                        <input type="text" class="text search-input" placeholder="Search Game..." name="Title"
                           [(ngModel)]="GameTitle" (ngModelChange)="Search()">
                        <span class="search-link" href="#"><i class="ri-search-line"></i></span>
                     </div>
                  </div>

                  <table class="table movie_table" style="width:100%">
                     <thead>
                        <tr>
                           <th (click)="sort('GameTitle')">Game&nbsp;<i
                                 class="btn-sm btn-outline-primary fa fa-sort"></i>
                           </th>
                           <th (click)="sort('TotalRatingFloat')">Rating&nbsp;<i
                                 class="btn-sm btn-outline-primary fa fa-sort"></i></th>
                           <th style="width:20%;">Categories</th>
                           <th (click)="sort('UserGameRatings.length')">Users/Rated&nbsp;<i
                                 class="btn-sm btn-outline-primary fa fa-sort"></i></th>
                           <th (click)="sort('Subscribers.length')">Subscribers&nbsp;<i
                                 class="btn-sm btn-outline-primary fa fa-sort"></i></th>
                           <th (click)="sort('ReleaseDate')">Date&nbsp;<i
                                 class="btn-sm btn-outline-primary fa fa-sort"></i></th>
                        </tr>
                     </thead>
                     <tbody *ngIf="Games && Games.length ; else noData;">
                        <tr
                           *ngFor="let game of MostPopularGames | orderBy:key:reverse | paginate:{itemsPerPage:5,currentPage:p}">
                           <td>
                              <div class="media align-items-center">
                                 <div class="iq-movie">
                                    <img src="https://localhost:44369/{{game.GamePhoto}}"
                                       class="img-border-radius avatar-40 img-fluid" alt="">
                                 </div>
                                 <div class="media-body text-white text-left ml-3">
                                    <p class="mb-0">{{game.GameTitle}}</p>
                                    <small *ngIf="game.IsReleased">Released</small>
                                    <small *ngIf="!game.IsReleased">Upcoming</small>
                                 </div>
                              </div>
                           </td>
                           <td><i class="las la-star mr-2 text-primary"></i>{{game.TotalRating}}</td>
                           <td>
                              <ul class="list-unstyled">
                                 <li *ngFor="let category of game.GameCategories">{{category.Type}}</li>
                              </ul>
                           </td>
                           <td>
                              <i class="lar la-user">{{game.UserGameRatings.length}}</i>
                           </td>
                           <td>
                              <i class="las la-heart">{{game.Subscribers.length}}</i>
                           </td>
                           <td>{{game.ReleaseDate|date}}</td>
                        </tr>
                     </tbody>
                  </table>
                  <div class="pull-right mt-5">
                     <pagination-controls (pageChange)="p = $event"></pagination-controls>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<!--IF no Data-->
<ng-template #noData>
   <tbody>
      <tr>
         <td colspan="8">
            No data availabe in this table
         </td>
      </tr>
   </tbody>
</ng-template>