    
    <input type="file" #file (change)="uploadFile((file.files)!)" class="form_gallery-upload"
        accept="image/png, image/jpeg , image/jpg">
   
    <label *ngIf="hasFile else Upload" (click)="file.click()"> {{fileName  }}
        <small class="upload" *ngIf="progress > 0">
        {{progress}}%
    </small><span class="upload" *ngIf="message">
        {{message}}
    </span> </label>
    <ng-template #Upload>
        <label class="invalidPhoto" (click)="file.click()">Upload Image</label>
    </ng-template>


