<div class="content-page">
   <div class="container-fluid">
      <div class="row">
         <div class="col-sm-12">
            <div class="iq-card">

               <div class="iq-card-header d-flex justify-content-between">
                  <div class="iq-header-title">
                     <h4 class="card-title">Edit Category</h4>
                  </div>
               </div>

               <div class="iq-card-body">
                  <form [formGroup]="categoryEdit" (ngSubmit)="editCategory()">

                     <div class="row">
                        <div class="col-lg-12">

                           <div class="row">
                              <div class="col-6 form-group">
                                 <app-input PlaceHolder='Type' [Control]="categoryEdit.get('type')">
                                 </app-input>
                              </div>
                           </div>

                           <div class="row">
                              <div class="col-6 form-group">
                                 <app-text-area PlaceHolder='Description' [Control]="categoryEdit.get('description')">
                                 </app-text-area>
                              </div>
                           </div>

                        </div>
                     </div>


                     <div class="row">
                        <div class="col-12 form-group ">
                           <button [disabled]='categoryEdit.invalid' type="submit"
                              [ngClass]="{'btn-danger':categoryEdit.invalid}" class="btn btn-primary m-2">Save Changes
                           </button>
                           <button routerLink='/Categories' type="button"
                              class="btn btn-danger m-2 card-link">Cancel</button>
                        </div>
                     </div>

                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>

<div *ngIf="isEdited" class="alert alert-success alert-dismissible fade show" role="alert">
   <strong>Success!&nbsp;</strong>{{editedCategoryName}} edited successfully.
   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
       <span aria-hidden="true">&times;</span>
   </button>
</div>