<div class="container-fluid">
   <div class="row">
      <div class="col-sm-12">
         <div class="iq-card">
            <div class="iq-card-header d-flex justify-content-between">
               <div class="iq-header-title">
                  <h4 class="card-title">Games List</h4>
               </div>
               <div class="iq-card-header-toolbar d-flex align-items-center">
                  <a routerLink="/GameCreate" class="btn btn-primary">Add Game</a>
               </div>
            </div>
            <div class="iq-card-body">
               <div class="table-view">

                  <div class="iq-search-bar ml-auto mb-4">
                     <div class="searchbox">
                        <input type="text" class="text search-input" placeholder="Search Game..." name="Title"
                           [(ngModel)]="Title" (ngModelChange)="Search()">
                        <span class="search-link" href="#"><i class="ri-search-line"></i></span>
                     </div>
                  </div>

                  <!--Delete Alert-->
                  <div *ngIf="isDeleted" class="alert alert-primary alert-dismissible fade show" role="alert">
                     <strong>Success!&nbsp;</strong>Game deleted successfully.
                     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                     </button>
                  </div>

                    <!--Create Alert-->
                    <div *ngIf="isCreated" class="alert alert-success alert-dismissible fade show" role="alert">
                     <strong>Success!&nbsp;</strong>Game created successfully.
                     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                     </button>
                  </div>

                  <table class="table movie_table" style="width:100%">
                     <thead>
                        <tr>
                           <th (click)="sort('Title')">Game&nbsp;<i class="btn-sm btn-outline-primary fa fa-sort"></i>
                           </th>
                           <th (click)="sort('ReleaseDate')">Release Date&nbsp;<i
                                 class="btn-sm btn-outline-primary fa fa-sort"></i></th>
                           <th (click)="sort('Rating')">Rating&nbsp;<i
                                 class="btn-sm btn-outline-primary fa fa-sort"></i></th>
                           <th>Pegi</th>
                           <th>Categories</th>
                           <th>Tag</th>
                           <th style="width: 20%;">Description</th>
                           <th>Action</th>
                        </tr>
                     </thead>
                     <tbody *ngIf="games && games.length ; else noData;">
                        <tr *ngFor="let game of games | orderBy:key:reverse | paginate:{itemsPerPage:10,currentPage:p}">
                           <td>
                              <div class="media align-items-center">
                                 <div class="iq-movie">
                                    <a (click)='ViewGames(game)' class="crudBtn" title="{{game.Title}}"><img
                                          src="https://localhost:44369/{{game.Photo}}"
                                          class="img-border-radius avatar-40 img-fluid" alt=""></a>
                                 </div>
                                 <div class="media-body text-white text-left ml-3">
                                    <p class="mb-0">{{game.Title}}</p>
                                    <small *ngIf="game.IsReleased">Released</small>
                                    <small *ngIf="!game.IsReleased">Upcoming</small>
                                 </div>
                              </div>
                           </td>
                           <td>{{game.ReleaseDate|date}}</td>
                           <td>
                              <app-game-rating [Rating]='game.Rating'></app-game-rating>
                           </td>
                           <td>
                              <img src="https://localhost:44369/{{game.Pegi}}"
                                 class="img-border-radius avatar-40 img-fluid" alt="">
                           </td>
                           <td>
                              <ul class="list-unstyled">
                                 <li *ngFor="let category of game.Categories">{{category.Type}}</li>
                              </ul>
                           </td>
                           <td>{{game.Tag}}</td>
                           <td>
                              <p>{{game.Description | summarizeText}}
                              </p>
                           </td>
                           <td>
                              <div class="flex align-items-center list-user-action">
                                 <a (click)='ViewGames(game)' class="iq-bg-warning crudBtn" title="Info"><i
                                       class="lar la-eye"></i></a>
                                 <a (click)='EditGame(game)' class="iq-bg-success crudBtn" title="Edit Game"><i class="ri-pencil-line"></i></a>
                                 <a (click)='DeleteGame(game)' class="iq-bg-primary crudBtn" title="Delete Game"><i
                                       class="ri-delete-bin-line"></i></a>
                              </div>
                           </td>
                        </tr>
                     </tbody>
                  </table>
                  <div class="pull-right mt-5">
                     <pagination-controls (pageChange)="p = $event"></pagination-controls>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<!--IF no Data-->
<ng-template #noData>
   <tbody>
      <tr>
         <td colspan="8">
            No data availabe in this table
         </td>
      </tr>
   </tbody>
</ng-template>

<ng-template #Loader>
   <img src="../../../../assets/Images/page-load-loader.gif">
</ng-template>