<!-- loader Start -->
<div id="loading">
   <div id="loading-center">
   </div>
</div>
<!-- loader END -->

<!-- Wrapper Start -->
<div class="wrapper">

   <ng-container>
      <app-navbar></app-navbar>
   </ng-container>


   <router-outlet></router-outlet>


</div>

<!-- Footer -->
<ng-container>
   <footer class="iq-footer">
      <div class="container-fluid">
         <div class="row">
            <div class="col-lg-12 text-right">
               Copyright 2021 <a href="#">InstaGames</a> All Rights Reserved.
            </div>
         </div>
      </div>
   </footer>
</ng-container>
<!-- Footer END -->