<!-- loader Start --> -->
<div id="loading">
   <div id="loading-center">
   </div>
</div>
<!-- loader END -->

<!-- Wrapper Start -->
<div class="wrapper">

   <app-navbar></app-navbar>

   <div id="content-page" class="content-page">

      <router-outlet></router-outlet>
   </div>

</div>

<!-- Footer -->
<footer class="iq-footer">
   <div class="container-fluid">
      <div class="row">
         <div class="col-lg-12 text-right">
            Copyright 2021 <a href="#">InstaGames</a> All Rights Reserved.
         </div>
      </div>
   </div>
</footer>
<!-- Footer END -->