<div class="container align-content-lg-center">
    <div class="container-fluid">
        <div class="iq-card iq-card-block iq-card-stretch iq-card-height iq-mb-3" *ngIf="message;else Loader">

            <div class="text-center" *ngIf="message.Creator.Photo else noPhoto">
                <img class="avatar-130 rounded" src="https://localhost:44384/{{message.Creator.Photo}}" alt="">
             </div>
             <ng-template #noPhoto>
                 <div class="text-center">
                    <img class="avatar-130 rounded" src="../../../assets/Images/user/user.jpg" alt="">
                 </div>
             </ng-template>

            <div class="iq-card-body text-center">
                <h4 class="card-title text-primary">Username :</h4>
                <h4 class="card-title">{{message.Creator.UserName}}</h4>
                <h6 class="card-title text-primary">Name :</h6>
                <h6 class="card-title">{{message.Creator.FirstName+" "+message.Creator.LastName}}</h6>
                <h6 class="card-title text-primary">Message :</h6>
                <p class="card-text">{{message.Text}} </p>
                <a (click)='setMessageStatusToAnswered(message)' class="card-link btn btn-primary" href="mailto:{{message.Creator.Email}}">Reply</a>
                <br>
                <div class="text-center">
                    <br>
                    <a routerLink='/Dashboard' class="card-link">Home</a>
                    <a routerLink='/Messages' class="card-link">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #Loader>
    <img src="../../../../assets/Images/page-load-loader.gif">
</ng-template>
