<div class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="iq-card">

                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h4 class="card-title">Add Developer</h4>
                        </div>
                    </div>

                    <div class="iq-card-body">
                        <form [formGroup]='developerForm' (ngSubmit)='saveDeveloper()'>

                            <div class="row">
                                <div class="col-lg-12">

                                    <div class="row">
                                        <div class="col-6 form-group">
                                            <app-input PlaceHolder='First Name'
                                                [Control]="developerForm.get('firstName')">
                                            </app-input>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-6 form-group">
                                            <app-input PlaceHolder='Last Name'
                                                [Control]="developerForm.get('lastName')">
                                            </app-input>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-6 form-group">
                                            <div class="custom-control custom-checkbox d-inline-block">
                                                <input type="checkbox" class="custom-control-input" id="isInstagameDev"
                                                    formControlName='isInstagameDev' name="isInstagameDev">
                                                <label class="custom-control-label" for="isInstagameDev"> Is InstaGame
                                                    Developer?</label>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-12 form-group ">
                                        <button [disabled]='developerForm.invalid' type="submit"
                                            [ngClass]="{'btn-danger':developerForm.invalid}"
                                            class="btn btn-primary m-2">Create Dev
                                        </button>
                                        <button routerLink='/Developers' type="button"
                                            class="btn btn-danger m-2 card-link">Cancel</button>
                                    </div>
                                </div>

                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--Create Alert-->
        <div *ngIf="isCreated" class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Success!&nbsp;</strong>{{createdDevName}} successfully created.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>