<!-- MainContent -->
<section class="sign-in-page">
    <div class="container">
       <div class="row justify-content-center align-items-center height-self-center">
          <div class="col-lg-5 col-md-12 align-self-center">
             <div class="sign-user_card ">                    
                <div class="sign-in-page-data">
                   <div class="sign-in-from w-100 m-auto">
                      <h3 class="mb-3 text-center">Admin sign in</h3>
                      <form  class="mt-4" (ngSubmit)="onSubmit()"  >
                         <div class="form-group">                                 
                            <!-- <app-input [control]="authForm.get('email')"  Placeholder="Enter email"  >

                            </app-input> -->
                            
                         </div>
                         <div class="form-group">                                 
                            <!-- <input [control]="authForm.get('password')" formControlName="password" type="password" class="form-control mb-0" id="exampleInputPassword2" placeholder="Password" required> -->
                         </div>
                         
                            <div class="sign-info">
                               <button type="submit" class="btn btn-hover btn-primary">Sign in</button>
                               <div class="custom-control custom-checkbox d-inline-block">
                                  <input type="checkbox" class="custom-control-input" id="customCheck">
                                  <label class="custom-control-label" for="customCheck">Remember Me</label>
                               </div>                                
                            </div>                                    
                         
                      </form>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!-- MainContent End-->

 {{authForm.value|json}}
 