<!-- MainContent -->
<section class="sign-in-page">
    <div class="container">
        <div class="row justify-content-center align-items-center height-self-center">
            <div class="col-lg-5 col-md-12 align-self-center">
                <div class="sign-user_card ">
                    <div class="sign-in-page-data">
                        <div class="sign-in-from w-100 m-auto">
                            <h3 class="mb-3 text-center">Sign in</h3>
                            <div *ngIf="isLoginError"  >
                                <p class="text-primary">Incorrect username or password</p>
                            </div>
                            <form class="mt-4" [formGroup]="authForm" (ngSubmit)="onSubmit(Username.value, Password.value)">
                                <div class="form-group"  >
                                    <input type="username" formControlName="username"  class="form-control mb-0"
                                        placeholder="Enter Username" autocomplete="off" #Username  name="Username" required>
                                </div>

                                <div class="form-group">
                                    <input formControlName="password" type="password" class="form-control mb-0" 
                                        placeholder="Password" #Password name="Password" required>
                                </div>

                                <div class="sign-info">
                                    <button [disabled]="!authForm.valid" type="submit" class="btn btn-hover btn-primary">Sign in</button>
                                    <div class="custom-control custom-checkbox d-inline-block">
                                        <input type="checkbox" class="custom-control-input" id="customCheck">
                                        <label class="custom-control-label" for="customCheck">Remember Me</label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</section>
<!-- MainContent End-->
