<div class="container-fluid">
    <div class="row">
       <div class="col-sm-12">
          <div class="iq-card">
             <div class="iq-card-header d-flex justify-content-between">
                <div class="iq-header-title">
                   <h4 class="card-title">Add Game</h4>
                </div>
             </div>
             <div class="iq-card-body">
                <form (ngSubmit)='CreateGame()'>
                   <div class="row">
                      <div class="col-lg-7">
                         <div class="row">
                            <div class="col-12 form-group">
                               <input id="title" type="text" class="form-control" placeholder="Title"  [(ngModel)]="title" name="title">
                            </div>
                            <div class="col-12 form_gallery form-group">
                               <label id="gallery2" for="form_gallery-upload">Upload Image</label>
                               <input #Photo data-name="#gallery2" id="form_gallery-upload" class="form_gallery-upload"
                                  type="file" accept=".png, .jpg, .jpeg">
                            </div>
                            <div class="col-md-6 form-group">
                               <select #gameCategories class="form-control" id="exampleFormControlSelect1" multiple>
                                  <option disabled="">Game Category</option>
                                  <option id="{{cat.CategoryId}}" *ngFor="let cat of Categories">{{cat.Type}}</option>
                               </select>
                            </div>
                            <div class="col-sm-6 form-group">
                              <label for="tag">Tag</label>
                               <select [(ngModel)]="tag" name="tag" class="form-control" id="tag">
                                  <option disabled="">Choose Tag</option>
                                  <option>Singleplayer</option>
                                  <option>Multiplayer</option>
                               </select>
                            </div>
                            <div class="col-12 form-group">
                               <textarea [(ngModel)]="description" id="description" name="description" rows="5" class="form-control"
                                  placeholder="Description"></textarea>
                            </div>
                         </div>
                      </div>
                      <div class="col-lg-5">
                         <div class="d-block position-relative">
                            <div class="form_video-upload">
                               <input [(ngModel)]="trailer" type="file" name="trailer" accept="video/mp4" multiple>
                               <p>Upload video</p>
                            </div>
                         </div>
                      </div>
                   </div>
                   <div class="row">
                      <div class="col-sm-6 form-group">
                        <label for="releaseDate">Release Date</label>
                         <input [(ngModel)]="releaseDate" type="date" name="releaseDate" id="releaseDate" class="form-control" placeholder="Release Date">
                      </div>
                      <div class="col-sm-6 form-group">
                        <label for="pegiId">PEGI</label>
                        <select [(ngModel)]="pegiId" class="form-control" id="pegiId" name="pegiId">
                           <option selected disabled="">PEGI</option>
                           <option [ngValue]="pegi.PegiId" *ngFor="let pegi of Pegilist">{{pegi.PegiAge}}</option>
                        </select>
                        
                      </div>
                      <div class="col-sm-6 form-group">
                        <select #gameDevelopers class="form-control" id="exampleFormControlSelect3" multiple>
                           <option disabled="">Choose Developer</option>
                           <option id="{{dev.DeveloperId}}" *ngFor="let dev of Developers">{{dev.FirstName}}</option>
                        </select>
                      </div>
                      <div class="col-sm-6 form-group">
                        <div class="custom-control custom-checkbox d-inline-block">
                        <input type="checkbox" class="custom-control-input" id="isReleased" [(ngModel)]="isReleased" name="isReleased">
                        <label class="custom-control-label" for="isReleased"> Is game released?</label>
                        </div>
                        <div class="custom-control custom-checkbox d-inline-block ml-5">
                        <input type="checkbox" class="custom-control-input" id="isEarlyAccess" [(ngModel)]="isEarlyAccess" name="isEarlyAccess">
                        <label class="custom-control-label" for="isEarlyAccess"> Is game ealry access?</label>
                        </div>
                      </div>
                      <div class="col-12 form-group ">
                         <button  type="submit" class="btn btn-primary">Submit</button>
                         <button routerLink='/Game' class="btn btn-danger">Cancel</button>
                      </div>
                   </div>
                </form>
             </div>
          </div>
       </div>
    </div>
 </div>

